In [8]:
import pandas as pd

file = '//Server/otk/Support_files_не_удалять!!!/Претензии_даты для ПЭО.xlsx'

df = pd.read_excel(
    file, 
    usecols=[
        "Номер акта исследования", 
        "Дата акта исследования", 
        "Дата поступления сообщения в ОТК"
    ]
)

df["Дата акта исследования"] = df["Дата акта исследования"].apply(lambda x: x.replace(x[6:8], ""))
df["Дата поступления сообщения в ОТК"] = df["Дата поступления сообщения в ОТК"].apply(lambda x: x.replace(x[6:8], ""))

In [9]:
df

,Номер акта исследования,Дата акта исследования,Дата поступления сообщения в ОТК
0,943,30.09.24,26.08.24
1,946,30.09.24,26.08.24
2,951,30.09.24,26.08.24
3,958,30.09.24,12.08.24
4,959,30.09.24,12.08.24
5,1001,11.10.24,10.10.24
6,1002,11.10.24,10.10.24
7,1003,11.10.24,10.10.24

In [10]:
df["comb_data"] = df["Номер акта исследования"].astype(str) + " от " + df["Дата акта исследования"]

In [11]:
# Если вывод не помещается - добавить после .to_list() срез, например [:15]
print('\n'.join(df["comb_data"].to_list()))

943 от 30.09.24
946 от 30.09.24
951 от 30.09.24
958 от 30.09.24
959 от 30.09.24
1001 от 11.10.24
1002 от 11.10.24
1003 от 11.10.24

In [12]:
# Если вывод не помещается - добавить после .to_list() срез, например [:15]
print('\n'.join(df["Дата поступления сообщения в ОТК"].to_list()))

26.08.24
26.08.24
26.08.24
12.08.24
12.08.24
10.10.24
10.10.24
10.10.24